.header {
  display: flex;
  align-items: center;
  margin-top: 24px;
  padding-bottom: 25px;
}
.logo {
  padding: 15px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: #000000;
}
.logo_text_blue {
  color: $color-blue;
}
.navigation {
  list-style: none;
  margin-left: 93px;
}
.navigation_link {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-decoration: none;
  margin-left: 46px;
  margin-top: 8px;
  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}
.navigation_link:hover,
.navigation_link:focus {
  color: $color-blue;
}
.underline::after {
  display: block;
  position: absolute;
  content: "";
  background-color: $color-blue;
  height: 4px;
  width: 53px;
  border-radius: 2px;
  margin-left: 48px;
  margin-top: 28px;
}
