// body
$font-family: "Roboto", sans-serif;
$font-size: 14px;
$color: #212121;
//text colors
$primarycolor: #212121;
$secondarycolor: #757575;

//background-color
$background-color-footer: #2f303a;
$background-color-main: #f5f4fa;

//transition
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//icon
$icon-main-color: #afb1b8;
$icon-hover: #ffffff;

//button
$button-background-color: #2196f3;
$button-text-color: #ffffff;
$button-weight: 700;
$button-font-size: 16px;
$button-width: 200px;
$button-height: 50px;

//
$border-radius: 4px;
$margin-left-main: 215px;
